/*---------------------------------------------
      UI Calendar
----------------------------------------------*/
body {
	.rbc-event {
		background-color: $primary-color;
		border-radius: 0px;
	}
	.rbc-today {
		background-color: rgba(63, 81, 181, 0.1);
	}
	.rbc-calendar .rbc-toolbar {
		.rbc-btn-group {
			background: #eeeeee;
		}

		.rbc-btn-group button {
			cursor: pointer;
			border-radius: 0px;
			-o-border-radius: 0px;
			-ms-border-radius: 0px;
			-moz-border-radius: 0px;
			-webkit-border-radius: 0px;
			border: 0px solid transparent;
			font-family: $fontFamily;
			font-weight: 400;
			text-shadow: none;
		}
		.rbc-btn-group button.rbc-active,
		.rbc-btn-group button:hover,
		.rbc-btn-group button:focus,
		.rbc-btn-group button:active {
			color: #ffffff;
			background-color: $primary-color;
		}
	}
}
