@font-face {
	font-family: 'Open Sans';
	src: url('../../assets/fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans Bold';
	src: url('../../assets/fonts/OpenSans/OpenSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
