/*---------------------------------------------
     Portfolio Gallery
----------------------------------------------*/

.masonry-gallery {
	list-style-type: none;
	padding: 0px;
}
.masonry-gallery li {
	padding: 15px;
}
