.image_payment {
	display: flex;
	justify-content: center;
}
.image_payment img {
	width: 200px;
	height: 100%;
	margin: 0 auto;
	display: block;
}

.pay_annotation {
	padding: 20px !important;
	ul {
		list-style-type: decimal;
	}
}
.card-body {
	.nav-pills {
		.nav-item {
			.disabled {

			}
		}
	}
}
.card-body .annotation {
	text-align: center;
	font-size: 18px;
}

.card-pay {
	.col-md-3 {
		padding-left: 10px;
		padding-right: 5px;
	}
	.col-9 {
		padding-left: 5px;
		padding-right: 10px
	}
	.col-12 {
		padding-left: 10px;
		padding-right: 10px;
	}
}

.pay-benefits {
	.number {
		display: block;
		margin: 0 auto;
		text-align: center;
		font-size: 90px;
		color: #716aca;
	}
	span {
		text-align: center;
		display: block;
		margin-top: 50px;
		font-size: 22px;
	}
}
